In [9]:
import pandas as pd
from datetime import datetime

In [10]:
def time_to_hour(time):
    '''
    Given an input variable time that represents time in the format of:
    "00:00:00" (hour:minutes:seconds)
    
    Write a function to extract the hour part from the input variable time
    and return it as an integer. For example:
        1) if hour is 00, your code should return 0
        2) if hour is 01, your code should return 1
        3) if hour is 21, your code should return 21
        
    Please return hour as an integer.
    '''
    
    hour = int(time.split(':')[0])
    return hour

In [14]:
input_filename = "input_data/turnstile_data_master_subset_time_to_hours.csv"
turnstile_master = pd.read_csv(input_filename)
student_df = turnstile_master.copy(deep=True)
student_df['Hour'] = student_df['TIMEn'].map(time_to_hour)
student_df

,Unnamed: 0,UNIT,DATEn,TIMEn,DESCn,ENTRIESn_hourly,EXITSn_hourly,Hour
0,0,R022,05-01-11,00:00:00,REGULAR,0,0,0
1,1,R022,05-01-11,04:00:00,REGULAR,562,173,4
2,2,R022,05-01-11,08:00:00,REGULAR,160,194,8
3,3,R022,05-01-11,12:00:00,REGULAR,820,1025,12
4,4,R022,05-01-11,16:00:00,REGULAR,2385,1954,16
5,5,R022,05-01-11,20:00:00,REGULAR,3631,2010,20
6,6,R022,05-02-11,00:00:00,REGULAR,1788,733,0
7,7,R022,05-02-11,04:00:00,REGULAR,246,70,4
8,8,R022,05-02-11,08:00:00,REGULAR,236,767,8
9,9,R022,05-02-11,12:00:00,REGULAR,1611,3681,12
10,10,R022,05-02-11,16:00:00,REGULAR,3675,2337,16
11,11,R022,05-02-11,20:00:00,REGULAR,7598,2500,20
12,12,R022,05-03-11,00:00:00,REGULAR,3395,717,0
13,13,R022,05-03-11,04:00:00,REGULAR,309,52,4
14,14,R022,05-03-11,08:00:00,REGULAR,250,779,8
15,15,R022,05-03-11,12:00:00,REGULAR,138,1192,12
16,16,R022,05-03-11,16:00:00,REGULAR,3919,3471,16
17,17,R022,05-03-11,20:00:00,REGULAR,9651,4037,20
18,18,R022,05-04-11,00:00:00,REGULAR,3687,789,0
19,19,R022,05-04-11,04:00:00,REGULAR,285,66,4
20,20,R022,05-04-11,08:00:00,REGULAR,266,738,8
21,21,R022,05-04-11,12:00:00,REGULAR,1657,3411,12
22,22,R022,05-04-11,16:00:00,REGULAR,3651,2943,16
23,23,R022,05-04-11,20:00:00,REGULAR,7877,2706,20
24,24,R022,05-05-11,00:00:00,REGULAR,3514,766,0
25,25,R022,05-05-11,04:00:00,REGULAR,145,49,4
26,26,R022,05-05-11,08:00:00,REGULAR,366,756,8
27,27,R022,05-05-11,12:00:00,REGULAR,1913,3968,12
28,28,R022,05-05-11,16:00:00,REGULAR,4269,2662,16
29,29,R022,05-05-11,20:00:00,REGULAR,5846,2414,20
...,...,...,...,...,...,...,...,...
346,346,R170,05-02-11,05:00:00,REGULAR,377,219,5
347,347,R170,05-02-11,09:00:00,REGULAR,1860,6448,9
348,348,R170,05-02-11,13:00:00,REGULAR,4224,9045,13
349,349,R170,05-02-11,17:00:00,REGULAR,6863,4104,17
350,350,R170,05-02-11,21:00:00,REGULAR,11551,3640,21
351,351,R170,05-03-11,01:00:00,REGULAR,6069,1543,1
352,352,R170,05-03-11,05:00:00,REGULAR,6722,10310,5
353,353,R170,05-03-11,09:00:00,REGULAR,1868,6747,9
354,354,R170,05-03-11,13:00:00,REGULAR,4474,10893,13
355,355,R170,05-03-11,17:00:00,REGULAR,8658,8591,17
356,356,R170,05-03-11,21:00:00,REGULAR,15251,9014,21
357,357,R170,05-04-11,01:00:00,REGULAR,4736,1570,1
358,358,R170,05-04-11,05:00:00,REGULAR,5044,404,5
359,359,R170,05-04-11,09:00:00,REGULAR,1868,6967,9
360,360,R170,05-04-11,13:00:00,REGULAR,4571,11292,13
361,361,R170,05-04-11,17:00:00,REGULAR,9180,8354,17
362,362,R170,05-04-11,21:00:00,REGULAR,15607,8747,21
363,363,R170,05-05-11,01:00:00,REGULAR,5268,1593,1
364,364,R170,05-05-11,05:00:00,REGULAR,457,172,5
365,365,R170,05-05-11,09:00:00,REGULAR,1845,6519,9
366,366,R170,05-05-11,13:00:00,REGULAR,4915,11668,13
367,367,R170,05-05-11,17:00:00,REGULAR,10872,9311,17
368,368,R170,05-05-11,21:00:00,REGULAR,16636,10343,21
369,369,R170,05-06-11,01:00:00,REGULAR,6794,2309,1
370,370,R170,05-06-11,05:00:00,REGULAR,1184,379,5
371,371,R170,05-06-11,09:00:00,REGULAR,1734,6358,9
372,372,R170,05-06-11,13:00:00,REGULAR,5159,11416,13
373,373,R170,05-06-11,16:03:04,REGULAR,4166,3547,16
374,374,R170,05-06-11,17:00:00,REGULAR,7340,6536,17
375,375,R170,05-06-11,21:00:00,REGULAR,17037,11134,21