In [4]:
import pandas as pd

In [5]:
def get_hourly_exits(df):
    '''
    The data in the MTA Subway Turnstile data reports on the cumulative
    number of entries and exits per row.  Assume that you have a dataframe
    called df that contains only the rows for a particular turnstile machine
    (i.e., unique SCP, C/A, and UNIT).  This function should change
    these cumulative exit numbers to a count of exits since the last reading
    (i.e., exits since the last row in the dataframe).
    
    More specifically, you want to do two things:
       1) Create a new column called EXITSn_hourly
       2) Assign to the column the difference between EXITSn of the current row 
          and the previous row. If there is any NaN, fill/replace it with 0.
    
    You may find the pandas functions shift() and fillna() to be helpful in this exercise.
    
    Example dataframe below:

          Unnamed: 0   C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly  EXITSn_hourly
    0              0  A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                0              0
    1              1  A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23              8
    2              2  A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18             18
    3              3  A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71             54
    4              4  A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170             44
    5              5  A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214             42
    6              6  A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87             11
    7              7  A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10              3
    8              8  A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36             89
    9              9  A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153            333
    '''
    
    df['EXITSn_hourly'] = (df['EXITSn'] - df['EXITSn'].shift(1)).fillna(0)
    return df

In [6]:
input_filename = "input_data/turnstile_data_master_subset_get_hours_entries.csv"
turnstile_master = pd.read_csv(input_filename)
turnstile_master.groupby(['C/A','UNIT','SCP']).apply(get_hourly_exits)

,Unnamed: 0,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly
0,0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151,0,0
1,1,A002,R051,02-00-00,05-01-11,04:00:00,REGULAR,3144335,1088159,23,8
2,2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177,18,18
3,3,A002,R051,02-00-00,05-01-11,12:00:00,REGULAR,3144424,1088231,71,54
4,4,A002,R051,02-00-00,05-01-11,16:00:00,REGULAR,3144594,1088275,170,44
5,5,A002,R051,02-00-00,05-01-11,20:00:00,REGULAR,3144808,1088317,214,42
6,6,A002,R051,02-00-00,05-02-11,00:00:00,REGULAR,3144895,1088328,87,11
7,7,A002,R051,02-00-00,05-02-11,04:00:00,REGULAR,3144905,1088331,10,3
8,8,A002,R051,02-00-00,05-02-11,08:00:00,REGULAR,3144941,1088420,36,89
9,9,A002,R051,02-00-00,05-02-11,12:00:00,REGULAR,3145094,1088753,153,333
10,10,A002,R051,02-00-00,05-02-11,16:00:00,REGULAR,3145337,1088823,243,70
11,11,A002,R051,02-00-00,05-02-11,20:00:00,REGULAR,3146168,1088888,831,65
12,12,A002,R051,02-00-00,05-03-11,00:00:00,REGULAR,3146322,1088918,154,30
13,13,A002,R051,02-00-00,05-03-11,04:00:00,REGULAR,3146335,1088921,13,3
14,14,A002,R051,02-00-00,05-03-11,08:00:00,REGULAR,3146371,1089014,36,93
15,15,A002,R051,02-00-00,05-03-11,12:00:00,REGULAR,3146510,1089341,139,327
16,16,A002,R051,02-00-00,05-03-11,16:00:00,REGULAR,3146790,1089417,280,76
17,17,A002,R051,02-00-00,05-03-11,20:00:00,REGULAR,3147615,1089478,825,61
18,18,A002,R051,02-00-00,05-04-11,00:00:00,REGULAR,3147798,1089515,183,37
19,19,A002,R051,02-00-00,05-04-11,04:00:00,REGULAR,3147809,1089520,11,5
20,20,A002,R051,02-00-00,05-04-11,08:00:00,REGULAR,3147859,1089632,50,112
21,21,A002,R051,02-00-00,05-04-11,12:00:00,REGULAR,3147999,1089965,140,333
22,22,A002,R051,02-00-00,05-04-11,16:00:00,REGULAR,3148276,1090054,277,89
23,23,A002,R051,02-00-00,05-04-11,20:00:00,REGULAR,3149108,1090117,832,63
24,24,A002,R051,02-00-00,05-05-11,00:00:00,REGULAR,3149281,1090139,173,22
25,25,A002,R051,02-00-00,05-05-11,04:00:00,REGULAR,3149297,1090145,16,6
26,26,A002,R051,02-00-00,05-05-11,08:00:00,REGULAR,3149331,1090257,34,112
27,34,A002,R051,02-00-00,05-05-11,20:00:00,REGULAR,3150639,1090714,1308,457
28,35,A002,R051,02-00-00,05-06-11,00:00:00,REGULAR,3150815,1090750,176,36
29,36,A002,R051,02-00-00,05-06-11,04:00:00,REGULAR,3150840,1090759,25,9
...,...,...,...,...,...,...,...,...,...,...,...
4202,4956,A034,R170,03-06-00,05-01-11,09:00:00,REGULAR,9164155,5796594,17,3
4203,4957,A034,R170,03-06-00,05-01-11,13:00:00,REGULAR,9164311,5796677,156,83
4204,4958,A034,R170,03-06-00,05-01-11,17:00:00,REGULAR,9164569,5796765,258,88
4205,4959,A034,R170,03-06-00,05-01-11,21:00:00,REGULAR,9164769,5796838,200,73
4206,4960,A034,R170,03-06-00,05-02-11,01:00:00,REGULAR,9164854,5796848,85,10
4207,4961,A034,R170,03-06-00,05-02-11,05:00:00,REGULAR,9164859,5796849,5,1
4208,4962,A034,R170,03-06-00,05-02-11,09:00:00,REGULAR,9164941,5796900,82,51
4209,4963,A034,R170,03-06-00,05-02-11,13:00:00,REGULAR,9165124,5796959,183,59
4210,4964,A034,R170,03-06-00,05-02-11,17:00:00,REGULAR,9165461,5797136,337,177
4211,4965,A034,R170,03-06-00,05-02-11,21:00:00,REGULAR,9165857,5797317,396,181
4212,4966,A034,R170,03-06-00,05-03-11,01:00:00,REGULAR,9165949,5797327,92,10
4213,4967,A034,R170,03-06-00,05-03-11,05:00:00,REGULAR,9165956,5797327,7,0
4214,4968,A034,R170,03-06-00,05-03-11,09:00:00,REGULAR,9166043,5797368,87,41
4215,4974,A034,R170,03-06-00,05-03-11,21:00:00,REGULAR,9167110,5797892,1067,524
4216,4975,A034,R170,03-06-00,05-04-11,01:00:00,REGULAR,9167276,5797906,166,14
4217,4976,A034,R170,03-06-00,05-04-11,05:00:00,REGULAR,9167293,5797907,17,1
4218,4977,A034,R170,03-06-00,05-04-11,09:00:00,REGULAR,9167375,5797946,82,39
4219,4978,A034,R170,03-06-00,05-04-11,13:00:00,REGULAR,9167531,5798020,156,74
4220,4979,A034,R170,03-06-00,05-04-11,17:00:00,REGULAR,9167797,5798161,266,141
4221,4980,A034,R170,03-06-00,05-04-11,21:00:00,REGULAR,9168228,5798360,431,199
4222,4981,A034,R170,03-06-00,05-05-11,01:00:00,REGULAR,9168382,5798378,154,18
4223,4982,A034,R170,03-06-00,05-05-11,05:00:00,REGULAR,9168395,5798380,13,2
4224,4983,A034,R170,03-06-00,05-05-11,09:00:00,REGULAR,9168483,5798410,88,30
4225,4984,A034,R170,03-06-00,05-05-11,13:00:00,REGULAR,9168683,5798510,200,100
4226,4985,A034,R170,03-06-00,05-05-11,17:00:00,REGULAR,9169064,5798683,381,173
4227,4986,A034,R170,03-06-00,05-05-11,21:00:00,REGULAR,9169547,5798956,483,273
4228,4991,A034,R170,03-06-00,05-06-11,05:00:00,REGULAR,9169787,5799002,240,46
4229,4995,A034,R170,03-06-00,05-06-11,21:00:00,REGULAR,9171025,5799732,1238,730
4230,4996,A034,R170,03-06-01,05-01-11,01:00:00,REGULAR,5604407,2448624,0,0
4231,4997,A034,R170,03-06-01,05-01-11,05:00:00,REGULAR,5604511,2448644,104,20